/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/* ----------- Google Pixel ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Google Pixel XL ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}

/******************************************
/* BASE STYLES
/*******************************************/

body {

  font-size: 16px;
}


/******************************************
/* LAYOUT
/*******************************************/

#toggle1 {
  display: none;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10%;
}



header ul li {
  list-style: none;
  padding-right: 5%;
  font-family: 'Fredoka';
}

header ul li a:hover {
  color: orange;
}

a {
  text-decoration: none;
}

#intro {
  font-family: 'Old Standard TT';
  background-image: url(../cuisine/brooke-lark-08bOYnH_r_E-unsplash.jpg);
  background-size: cover;
  height: 1200px;
  padding: 10% 0 0 15%;
  box-shadow: 0px -30px 10px -10px white inset;
}

    #intro h1 {
      font-size: 5em;
      width: 40%;
    }

    #intro input[type=text] {
      padding: 10px;
      margin: 0;
      border: 0;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      box-shadow: 0px 0px 3px 0px black;
    }

    form {
      display: flex;
    }

    .btn {
      background-color: orange;
      color: white;
      border: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 1.1px 0px 3px 0px black;
      
    }

#about {
  display: flex;
  margin-top: 2em;
}

#about section {
  flex: 1;
}

#aboutStory p {
  font-family: 'Fredoka';
}

#aboutStory a {
  padding: 1em;
  background-color: orange;
  color: white;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 1.1px 0px 3px 0px black;
  
}

#aboutImageOne {
  background-image: url(../cuisine/brooke-lark-of0pMsWApZE-unsplash.jpg);
  background-size: cover;
  background-position: -40em;
  background-repeat: no-repeat;
  box-shadow: -100px -55px 80px 100px white inset, -100px 55px 80px 100px white inset;
  height: 1000px;

}

#aboutImageTwo {
  background-image: url(../cuisine/olga-kudriavtseva-s8J1DlRroo0-unsplash.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  box-shadow: 200px 0 100px 250px white inset;
  height: 1000px;
}

#aboutImageTwo > * {
  width: 50%;
}

#aboutImageTwo h3 {
  font-family: 'Fredoka';
  color: orange;
}
#aboutImageTwo h2 {
  font-family: 'Old Standard TT';
  font-size: 4em;
}

img {
  display: none;
}


/**** Our Specialty Cusine*/

.specialty {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
}

.specialty span {
  font-family: 'Fredoka';
  color: orange;
  font-size: 2em;
  align-self: center;
}

.specialty h2 {
  font-family: 'Old Standard TT';
  font-size: 4em;
  align-self: center;
}

.specialty ul {
  margin-right: 15em;
  margin-left: 15em;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.25em;
  font-family: 'Fredoka';
}

.specialList ul a:link {
  color: black;
}

a:visited {
  color: black;
}

.specialList ul a:hover {
  color: orange;
}

.specialList ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.specialList ul li:hover {
  border-color: orange;
}

.specialty section + section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.specialty section img {
  display: flex;
  
  height: 22em;
  
}

/* Book Table */

.opening {
  display: flex;
  flex-direction: column;
}

.opening .book {
  margin-top: 5em;
  font-family: 'Fredoka';
  color: orange;
  font-size: 2em;
  align-self: center;
}

.opening h2 {
  font-family: 'Old Standard TT';
  font-size: 4em;
  align-self: center;
}

.opening > h2 + span {
  font-family: 'Fredoka';
  font-size: 1.5em;
  align-self: center;
}

.opening h2 + span + span {
  font-size: 1.5em;
  align-self: center;
  color: orange;
}

.days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.days span {
  font-family: 'Fredoka';
  margin-bottom: 1em;
}

.days span + span {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

.days .weekday {
  display: flex;
  margin-left: 20em;
  flex-direction: column;
}

.days .weekend {
  display: flex;
  margin-right: 20em;
  flex-direction: column;
}

.booking {
  background-image: url(../cuisine/brooke-lark--F_5g8EEHYE-unsplash.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 1000px;
  box-shadow: 0px 0px 100px 100px white inset, -600px 0px 50px 150px white inset, 600px 0px 50px 150px white inset; 
}

/* Testimonials */



/* .booking img {
  
  display: flex;
  height: 70em;
  box-shadow: 50em 50em 50em 50em red inset;
} */


/******************************************
/* MOBILE
/*******************************************/

@media screen and (max-width: 768px) {

  /* Header */

    header nav ul {
      justify-content: center;
    }

    header ul li {
      padding: 0;
    }


    /* Hamburger */
    .hamburger1 {
      height: 45px;
      margin: 10px;
      display: -ms-grid;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      justify-items: center;
      z-index: 120;
      position: absolute;
    }

    .hamburger1 div {
      background-color: rgb(61, 61, 61);
      position: relative;
      width: 40px;
      height: 5px;
      margin-top: 7px;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }

    #toggle1 {
      display: none;
    }

    #toggle1:checked + .hamburger1 .top {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      margin-top: 22.5px;
    }

    #toggle1:checked + .hamburger1 .meat {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      margin-top: -5px;
    }

    #toggle1:checked + .hamburger1 .bottom {
      -webkit-transform: scale(0);
              transform: scale(0);
    }

    #toggle1:checked ~ .menu1 {
      height: auto;
    }


    /* Menu */
    .menu1 {
      width: 50%;
      background-color: #fff;
      margin: 0;
      display: -ms-grid;
      display: grid;
      grid-template-rows: 1fr repeat(4, 0.5fr);
      grid-row-gap: 25px;
      padding: 0;
      list-style: none;
      clear: both;
      /* width: auto; */
      text-align: center;
      height: 0px;
      overflow: hidden;
      transition: height .4s ease;
      z-index: 120;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: absolute;
      left: 4em;
    }

    .menu1 a:first-child {
      margin-top: 40px;
    }

    .menu1 a:last-child {
      margin-bottom: 40px;
    }

    .link1 {
      width: 100%;
      margin: 0;
      padding: 10px 0;
      /* font: 700 20px 'Oswald', sans-serif; */
    }

    .link1:hover {
      background-color: #fff;
      color: rgb(61, 61, 61);
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }

  /* Main */

  #intro {
    font-size: 0.75em;
    height: 850px;
    background-position: 70% 40%;
  }

  /* About */

  #aboutImageOne {
    display: none;
  }

  #aboutImageTwo {
    background-position: 46%;
    background-size: cover;
    box-shadow: 100px 150px 50px 75px white inset, 0px -200px 30px 34px white inset;
    height: 900px;
  }

  #aboutStory {
    width: 100%;
    text-align: center;
  }

  #aboutStory p {
    width: 50%;
    text-align: left;
  }

  #aboutStory p + p {
    margin-bottom: 4em;
  }

  /* Specialty Cuisine */

  .specialty ul {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  .specialty h2 {
    text-align: center;
  }

  .specialty section img {
    height: 15em;
  }

  .specialty section + section {
    flex-wrap: wrap;
    gap: 5em;
    
  }

  /* Booking */

  .opening h2 {
    text-align: center;
  }

  .opening .book {
    margin-top: 4em;
  }

  .days {
    margin-top: 3em;
  }

  .days .weekday {
    margin: 0;
    text-align: center;
  }
  
  .days .weekend {
    margin: 0;
    text-align: center;
  }

  .booking {
    height: 600px;
    box-shadow: 10px 10px 50px 40px white inset;
  }

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/



/* #about {
  position: relative;
}

#about img {
  height: 900px;
  display: inline-block;
}

#aboutImageOne::after {
  position: relative;
  left: -25%;
  mix-blend-mode: multiply;
  box-shadow: 0 0 100px 8px white inset;
  z-index: 1;
}

#aboutImageTwo {

  z-index: 1;
}

#about h2{
  position: absolute;
  top: 0;
  z-index: 3;
} */